#container {
    margin: 30px;
    width: 400px;
}
input {
    margin-left: 40px;
}


ul .block {
    display: flex;
}
ul .block-last {
    display: flex;
    justify-content: center
    ;
}

li {
    border: 1px solid black;
    width: 40px;
    height: 30px;
    list-style-type: none;
    text-align: center;
   
    
}

.caps-lock {
    width: 70px;
}
.capslock {
    text-transform: uppercase;
}
